@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --font-sans: "Noto Sans JP", system-ui, sans-serif;
}

.background--orange {
  background-color: var(--color-amber-500);

  background-image:
    linear-gradient(0deg, var(--color-amber-400) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-amber-400) 1px, transparent 1px);

  background-size: 32px 32px;
}

.background--dot {
  background-color: var(--color-white);
  background-image:
    radial-gradient(var(--color-orange-50) 20%, transparent 20%),
    radial-gradient(var(--color-amber-50) 20%, transparent 20%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.underline-1 {
  @apply px-2 py-6 lg:px-4 lg:py-8 2xl:px-6 2xl:py-10;
  background-image: url("/underline1.png");
  background-size: cover;
  background-position: bottom;
}

.underline-2 {
  @apply px-2 py-6 lg:px-4 lg:py-8 2xl:px-6 2xl:py-10;
  background-image: url("/underline2.png");
  background-size: cover;
  background-position: bottom;
}

.underline-3 {
  @apply py-3;
  background-image: url("/underline3.png");
  background-size: cover;
  background-position: bottom;
}